<h1> hello {{.Name}}! You are {{.Age}} years old and has visited {{.Meta.Visits}} times our website!</h1>
<p> Bio: {{.Bio}} </p>


<script>
    const user = {
        "name": {{.Name}},
        "age": {{.Age}},
        "bio": {{.Bio}}
    }
    console.log(user);
</script>