{{template "header" .}}
<article class="flex-grow flex items-center justify-center"> 
    <div>
        <h1 class="text-2xl font-semibold mb-4 text-center text-green-800">  Contact info! </h1>  
        <p> To get in touch, email me at 
        <a href=\mailto:samuel.msbr@gmail.com\>samuel.msbr@gmail.com</a>
    </div>
</article> 
{{template "footer" .}}
<p>home footer </p> 