{{template "header" .}}
   

    <article class="flex-grow flex items-center justify-center"> 
        <div>
            <h1 class="text-2xl font-semibold mb-4 text-center text-green-800">  Welcome to my site! </h1>  
        </div>
    </article> 

{{template "footer" .}}
<p>home footer </p> 
